<% title Fileclip.model_name.human(count: 2) + ' der ' + @cooperative.name %>

<p class="title is-2"><%= yield :title %></p>

<div class="tabs is-boxed">
  <ul>
  <li>
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>
  </li>
  </ul>
</div>


<div class="columns is-multiline filecategories">
<% @files_grouped.each do |category, files| %>
  <div class="column is-offset-2 is-3 is-paddingless">
    <a class="card" href="<%= url_for controller: 'coop_files', action: 'show', cooperative_id: @cooperative.id, id: category.id %>">
      <span class="card-header">
        <p class="card-header-title"><%= category.name %></p>
      </span>
      <span class="card-content">
        <p><%= category.description %></p>
      </span>
    </a>
  </div>
<% end %>
</div>
