<% title @category.name %>

<p class="title is-2"><%= yield :title %></p>
<p class="subtitle is-4"><%= Fileclip.model_name.human(count: 2) + ' der ' + @cooperative.name %></p>

<div class="tabs is-boxed">
  <ul>
  <li>
  <a href="<%= url_for controller: 'coop_files', action: 'index', cooperative_id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>
  </li>
  </ul>
</div>

<%= render "/table_filter" %>

<table class="table is-fullwidth is-striped is-hoverable is-filterable">
  <tbody>
  <% @files.each do |file| %>
    <tr>
      <td>
        <a href="<%= rails_blob_path(file.file, disposition: "attachment") %>" download>
          <span class="icon"><i class="fas fa-cloud-download-alt" aria-hidden="true"></i></span>
          <% if file.name? %><%= file.name %><% else %><%= file.file.filename %><% end %>
        </a>
      </td>
      <td>
        <div class="tags">
          <% file.filetags.each do |tag| %>
          <span class="tag">
            <span class="icon"><i class="fas fa-tags" aria-hidden="true"></i></span>
            <span><%= tag.name %></span>
          </span>
          <% end %>
        </div>
      </td>
      <td>
        <span class="icon"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
        <span><%= l file.file.created_at, format: :short %></span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
