<p class="title is-2">Hallo <%= current_member.firstname %> <%= current_member.lastname %>,</p>

<p class="title is-5">Im <%= Rails.configuration.site_title %> finden sie:</p>

<ul>
    <li>Unter <%= link_to 'Meine ' + Cooperative.model_name.human, cooperative_path(current_member.cooperative) %> finden sie Informationen zu Ihrer eigenen Genossenschaft.</li>
    <li>Unter <%= link_to Cooperative.model_name.human(count: 2), cooperatives_path %> eine Auflistung aller Eingetragener Genossenschaften.</li>
</ul>

<p class="title is-4" style="margin-top:3em">Neueste Dateien<p>
<table class="table is-fullwidth is-striped is-hoverable is-filterable">
  <tbody>
  <% current_member.cooperative.fileclips.last(5).each do |file| %>
    <tr>
      <td>
        <a href="<%= rails_blob_path(file.file, disposition: "attachment") %>" download>
          <span class="icon"><i class="fas fa-cloud-download-alt" aria-hidden="true"></i></span>
          <% if file.name? %><%= file.name %><% else %><%= file.file.filename %><% end %>
        </a>
      </td>
      <td>
        <span class="icon"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
        <span><%= l file.file.created_at, format: :short %></span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
