<% title 'Dateien' %>

<p class="title is-2"><%= yield :title %></p>

<p class="title is-3"><%= @cooperative.name %></p>
<% @cooperative_fileclips_grouped.each do |category, files| %>
<p class="title is-4"><%= category.name %></p>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name der Datei</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% files.each do |file| %>
    <tr>
      <td><% if file.name? %><%= file.name %><% else %><%= file.file.filename %><% end %></td>
      <td>
        <a href="<%= rails_blob_path(file.file, disposition: "attachment") %>" class="button is-link is-small">
          <span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
          <span>Download</span>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<% @groups.each do |group| %>
<p class="title is-3"><%= group.name %></p>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name der Datei</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% group.fileclips.each do |file| %>
    <tr>
      <td><% if file.name? %><%= file.name %><% else %><%= file.file.filename %><% end %></td>
      <td>
        <a href="<%= rails_blob_path(file.file, disposition: "attachment") %>" class="button is-link is-small">
          <span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
          <span>Download</span>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
