<% title @category.path %>

<p class="title"><%= yield :title %></p>

<div class="level">
  <div class="level-left">
    <div class="level-item">
    <% if @category.parent_id.nil? %>
      <a href="<%= url_for controller: 'fileclips', action: 'index' %>">
    <% else %>
      <a href="<%= url_for controller: 'fileclips', action: 'show', id: @category.parent_id %>">
    <% end %>
        <span class="icon"><i class="fas fa-chevron-left"></i></span>
        <span>zurück</span>
      </a>
    </div>
  </div>
</div>

<%= render partial: 'fileclips/categories', object: @category.children %>

<% if @files.any? %>

<table class="table is-fullwidth is-striped is-hoverable is-filterable">
  <tbody>
  <% @files.each do |file| %>
    <tr>
      <td>
        <a href="<%= rails_blob_path(file.file, disposition: "attachment") %>" download>
          <span class="icon"><i class="fas fa-cloud-download-alt" aria-hidden="true"></i></span>
          <% if file.name? %><%= file.name %><% else %><%= file.file.filename %><% end %>
        </a>
      </td>
      <td>
        <span class="icon"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
        <span><%= l file.file.created_at, format: :short %></span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% else %>

<div class="notification">Keine Dateien in dieser Kategorie vorhanden.</div>

<% end %>
