<p class="title"><%= @plant.name %> bearbeiten</p>
<p class="subtitle"><%= @cooperative.name %></>

<div class="level">
  <div class="level-left">
  <div class="level-item">
  <a href="<%= url_for controller: 'plants', action: 'show', id: @plant, cooperative_id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span><%= t 'abort'  %></span>
  </a>
  </div>
  </div>
</div>

<%= form_with model: @plant, url: cooperative_plant_path, local: true do |form| %>

  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <% @plant.errors.full_messages.each do |msg| %>
        <div class="message is-danger is-small">
          <div class="message-body">
        <%= msg %></div></div>
      <% end %>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :name, class: 'label' %>
    <div class='control'>
      <%= form.text_field :name, class: 'input' %>
      </div>
  </div>

  <div class='field'>
    <%= form.label :street, class: 'label' %>
    <div class='control has-icons-left'>
      <%= form.text_field :street, class: 'input' %>
      <span class="icon is-small is-left">
        <i class="fas fa-road"></i>
      </span>
    </div>
  </div>

  <div class='field is-horizontal'>
    <div class="field-body">
    <div class='field'>
      <%= form.label :zip, class: 'label' %>
      <div class='control is-expanded has-icons-left'>
        <%= form.text_field :zip, class: 'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-city"></i>
        </span>
      </div>
    </div>

    <div class='field'>
      <%= form.label :city, class: 'label' %>
      <div class='control is-expanded has-icons-left'>
        <%= form.text_field :city, class: 'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-city"></i>
        </span>
      </div>
    </div>
    </div>
  </div>

  <div class='field'>
    <%= form.label :peak_power, class: 'label' %>
    <div class='control has-icons-left'>
      <%= form.number_field :peak_power, class: 'input' %>
      <span class="icon is-small is-left">
        <i class="fas fa-plug"></i>
      </span>
    </div>
  </div>

  <div class='field'>
    <%= form.label :annual_generation, class: 'label' %>
    <div class='control has-icons-left'>
      <%= form.number_field :annual_generation, class: 'input' %>
      <span class="icon is-small is-left">
        <i class="fas fa-plug"></i>
      </span>
    </div>
  </div>

  <div class='field'>
    <%= form.label :plant_type, class: 'label' %>
    <div class='control'>
      <div class='select'>
        <%= form.select :plant_type, Plant.plant_types.keys.map { |w| [w.humanize, w] } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <div class="control">
      <%= form.text_area :description, class: 'textarea' %>
    </div>
  </div>

  <div class='field'>
    <div class='control'>
      <%= form.submit (t 'submit'), class: 'button is-link' %>
    </div>
  </div>
<% end %>
