<% content_for :javascript_includes do %>
  <%= javascript_include_tag "leaflet.js" %>
<% end %>

<% title Plant.model_name.human(count: 2) + ' der ' + @cooperative.name %>

<p class="title is-2"><%= yield :title %></p>

<div class="tabs is-boxed">
  <ul>
  <li>
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>
  </li>

  <% if can_edit %>
  <li>
  <a href="<%= url_for controller: 'plants', action: 'new', cooperative_id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-plus"></i></span>
    <span>Neue <%= Plant.model_name.human %> hinzufügen</span>
  </a>
  </li>
  <% end %>
  </ul>
</div>

<%= map(:center => {
    :latlng => [51.100, 10.360],
    :zoom => 6
  },
  :markers => @markers
) %>

<%= render "/table_filter" %>

<table class="table is-filterable is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Anlagentyp</th>
      <th>kWp</th>
      <% if can_edit %><th></th><% end %>
    </tr>
  </thead>
  <tbody>
  <% @plants.each do |plant| %>
    <tr>
      <td><%= link_to plant.name, cooperative_plant_path(plant.cooperative_id, plant) %></td>
      <td><%= plant.plant_type %></td>
      <td><%= plant.peak_power %></td>
      <% if can_edit %>
      <td>
        <a href="<%= url_for controller: 'plants', action: 'edit', id: plant, cooperative_id: @cooperative.id %>" class="button is-link is-small">
          <span class="icon"><i class="fas fa-edit"></i></span>
          <span>bearbeiten</span>
        </a>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
