<p class="title is-2"><%= @plant.name %></p>

<div class="buttons has-addons">
  <a href="<%= url_for controller: 'plants', action: 'index', cooperative_id: @cooperative.id %>" class="button is-primary is-outlined is-small">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>

  <% if @current_member_can_edit %>
  <a href="<%= url_for controller: 'plants', action: 'edit', id: @plant, cooperative_id: @cooperative.id %>" class="button is-primary is-outlined is-small">
    <span class="icon"><i class="fas fa-edit"></i></span>
    <span>Anlage bearbeiten</span>
  </a>
  <% end %>
</div>

<div class="columns">
  <div class="column is-6">
    <article class="message is-primary">
      <div class="message-body">
        <%= @plant.description %>
      </div>
    </article>
  </div>
  <div class="column is-6">
    <div class="panel">
      <p class="panel-heading"><%= @plant.name %></p>

      <p class="panel-block">
        <%= @plant.cooperative.name %>
      </p>

      <p class="panel-block">
        Größe: <%= @plant.size %>
      </p>

      <p class="panel-block">
        Type: <%= @plant.plant_type %></a>
      </p>
    </div>
  </div>
</div>
