<% title @plant.name %>

<p class="title is-2"><%= yield :title %></p>

<div class="tabs is-boxed">
  <ul>
  <li>
  <a href="<%= url_for controller: 'plants', action: 'index', cooperative_id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>
  </li>

  <% if can_edit %>
  <li>
  <a href="<%= url_for controller: 'plants', action: 'edit', id: @plant, cooperative_id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-edit"></i></span>
    <span><%= Plant.model_name.human %> bearbeiten</span>
  </a>
  </li>
  <% end %>
  </ul>
</div>

<div class="columns">
  <div class="column is-6">
    <article class="message is-primary">
      <div class="message-body">
        <%= @plant.description %>
      </div>
    </article>
  </div>
  <div class="column is-6">
    <div class="panel">
      <p class="panel-heading"><%= @plant.name %></p>

      <p class="panel-block">
        <%= @plant.cooperative.name %>
      </p>

      <p class="panel-block">
        kWp: <%= @plant.peak_power %>
      </p>

      <p class="panel-block">
        Jährliche Erzeugung: <%= @plant.annual_generation %>
      </p>

      <p class="panel-block">
        Type: <%= @plant.plant_type %></a>
      </p>
    </div>
  </div>
</div>
