<%= paginator.render do -%>
  <nav class="pagination is-small" role="navigation" aria-label="pagination">
    <%= prev_page_tag unless current_page.first? %>
    <ul class="pagination-list">
      <% each_page do |page| -%>
        <li>
          <% if page.display_tag? -%>
            <%= page_tag page %>
          <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
          <% end -%>
        </li>
      <% end -%>
    </ul>
    <% unless current_page.out_of_range? %>
      <%= next_page_tag unless current_page.last? %>
    <% end %>
  </nav>
<% end -%>
