<% title 'Kundendaten der ' + @cooperative.name %>

<p class="title"><%= yield :title %></p>

<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <a class=""  href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
        <span class="icon"><i class="fas fa-chevron-left"></i></span>
        <span>zurück</span>
      </a>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Anzahl Kunden</p>
        <p class=""><%= @cooperative.customer_count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Aktualisiert vor</p>
        <p class=""><%= (@cooperative.last_customer_update) ? time_ago_in_words(@cooperative.last_customer_update) : 'nie' %></p>
      </div>
    </div>

    <% if @cooperative.customer_data_pdf.attached? %>
    <div class="level-item">
      <a href="<%= rails_blob_path(@cooperative.customer_data_pdf, disposition: "attachment") %>">
        <span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
        <span>PDF</span>
      </a>
    </div>
    <% end %>

    <div class="level-item">
      <%= render "/table_filter" %>
    </div>
  </div>
</nav>

<div class="tags table-select">
  <% @attributes.each do |attribute| %>
  <span data-target="<%= attribute %>" class="tag<%= (@active_attributes.include? attribute) ? ' is-primary' : ' is-light' %>" title="<%= t 'customer_data.attribute_legend.' + attribute.to_s  %>">
    <%= CustomerDatum.human_attribute_name(attribute) %>
  </span>
  <% end %>
</div>

<div class="table-scroll-top" data-target="customer-data-table"><div></div></div>
<div class="table-container is-sticky">
<table class="table is-filterable is-fullwidth is-striped is-hoverable">
  <colgroup>
    <% @attributes.each do |attribute| %>
    <col class="<%= attribute %>" <%= (@active_attributes.include? attribute) ? '' : 'width=0' %>>
    <% end %>
  </colgroup>

  <thead>
    <tr>
      <% @attributes.each do |attribute| %>
      <th class="<%= attribute %>"><%= CustomerDatum.human_attribute_name(attribute) %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @cooperative.customer_data.each do |cd| %>
    <tr>
      <% @attributes.each do |attribute| %>
      <td class="<%= attribute %>"><%= cd.read_attribute(attribute) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
