<p class="title"><%= CustomerDatum.model_name.human(count: 2) %></p>
<p class="subtitle"><%= @cooperative.name %></p>

<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <a class=""  href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
        <span class="icon"><i class="fas fa-chevron-left"></i></span>
        <span><%= t 'back' %></span>
      </a>
    </div>
    <% if @cooperative.diagrams.attached? %>
    <div class="level-item">
    <a class="" href="<%= url_for controller: 'customer_data', action: 'diagrams', cooperative_id: @cooperative.id %>">
        <span class="icon"><i class="fas fa-chart-bar"></i></span>
        <span><%= Cooperative.human_attribute_name('diagrams') %></span>
      </a>
    </div>
    <% end %>
  </div>
  <div class="level-right">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading"><%= t 'number-customers' %></p>
        <p class=""><%= @cooperative.customer_count %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading"><%= t 'last-updated' %></p>
        <p class=""><%= (@cooperative.last_customer_update) ? time_ago_in_words(@cooperative.last_customer_update) : 'nie' %></p>
      </div>
    </div>
  </div>
</nav>

<div id="customer-data-table">
  <div class="tags selectors" data-target="customer-data-table">
    <% @attributes.each do |attribute| %>
    <abbr data-target="<%= attribute %>" class="tag<%= (@active_attributes.include? attribute) ? ' is-primary' : ' is-lighter' %>" title="<%= t 'customer_data.attribute_legend.' + attribute.to_s  %>">
      <%= CustomerDatum.human_attribute_name(attribute) %>
    </abbr>
    <% end %>
  </div>

  <%= render '/filter_menu' %>

  <div class="scroller"><div></div></div>
  <div class="table-container">
    <table class="table is-fullwidth is-striped is-hoverable fixed">
      <colgroup>
        <% @attributes.each do |attribute| %>
        <col class="<%= attribute %> <%= (@active_attributes.include? attribute) ? '' : 'is-inactive' %>">
        <% end %>
      </colgroup>

      <thead>
        <tr>
          <% @attributes.each do |attribute| %>
          <th class="<%= attribute %>"><%= CustomerDatum.human_attribute_name(attribute) %></th>
          <% end %>
        </tr>
      </thead>

      <%= render 'customer_data/list_body' %>
    </table>
  </div>

  <%== pagy_bulma_nav(@pagy) %>
</div>
