<% title 'Kundendaten der ' + @cooperative.name %>

<p class="title is-2"><%= yield :title %></p>


<div class="tabs is-boxed">
  <ul>
  <li>
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>
  </li>

  <% if @cooperative.customer_data_pdf.attached? %>
  <li>
  <a href="<%= rails_blob_path(@cooperative.customer_data_pdf, disposition: "attachment") %>">
    <span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
    <span>PDF</span>
  </a>
  </li>
  <% end %>
  </ul>
</div>

<% if @cooperative.customer_data_pdf.attached? %>
<object data="<%= rails_blob_path(@cooperative.customer_data_pdf) %>" type="application/pdf" width="100%" height="500px">
  This browser does not support PDFs. Please download the PDF to view it: <a href="<%= rails_blob_path(@cooperative.customer_data_pdf) %>">Download PDF</a>
</object>
<% end %>

<%= render "/table_filter" %>

<div class="tabs is-fullwidth">
  <ul>
  <li>
    Anzahl Kundendaten: <%= @cooperative.customer_count %>
  </li>
  <li>
    Letzte Aktualisierung Kundendaten: <%= l @cooperative.last_customer_update %>
  </li>
  </ul>
</div>
<table class="table is-filterable is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <td>LS Vorname</td>
      <td>LS Lastname</td>
      <td>LS Ort</td>
      <td>Zählernummer</td>
      <td>Status</td>
      <td>Liefern ab</td>
    </tr>
  </thead>
  <tbody>
  <% @cooperative.customer_data.each do |customer_datum| %>
    <tr>
      <td><%= customer_datum.ls_firstname %></td>
      <td><%= customer_datum.ls_lastname %></td>
      <td><%= customer_datum.ls_city %></td>
      <td><%= customer_datum.meter_number %></td>
      <td><%= customer_datum.status %></td>
      <td><%= customer_datum.deliver_from %></td>
    </tr>
  <% end %>
  </tbody>
</table>
