<p class="title is-2">Kundendaten der <%= @cooperative.name %></p>

<div class="buttons has-addons">
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>" class="button is-link is-outlined">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>

  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>" class="button is-link is-outlined">
    <span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
    <span>PDF</span>
  </a>

  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>" class="button is-link is-outlined">
    <span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
    <span>CSV</span>
  </a>
  </a>

  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>" class="button is-link is-outlined">
    <span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
    <span>XLS</span>
  </a>
</div>
