<% content_for :head do %>
<script id="seamlessScript" src="https://taca.buergerwerke.de/bundles/taca/js/seamless.js" async></script>
<% end %>

<p class="title"><%= t 'tariff-calculator' %></p>
<p class="subtitle"><%= @cooperative.name %></p>

<div class="level">
  <div class="level-left">
  <div class="level-item">
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span><%= t 'back' %></span>
  </a>
  </div>
  </div>
</div>

<iframe class="tacaframe" src="https://taca.buergerwerke.de/?stakeholder=<%= @cooperative.coopnumber %>&intern=1" name="tacaframe" frameborder="0" ></iframe>

<script>
seamlessScript.addEventListener('load', function () {
  seamless.parent();
});
</script>
