<p class="title"><%= @cooperative.name %> bearbeiten</p>

<div class="level">
  <div class="level-left">
  <div class="level-item">
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span><%= t 'abort'  %></span>
  </a>
  </div>
  </div>
</div>

<%= form_with model: @cooperative, url: cooperative_path, local: true do |form| %>

  <% if @cooperative.errors.any? %>
    <div id="error_explanation">
      <% @cooperative.errors.full_messages.each do |msg| %>
        <div class="message is-danger is-small">
          <div class="message-body"><%= msg %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :name, class: 'label' %>
    <div class='control'>
      <%= form.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class='field'>
    <%= form.label :street, class: 'label' %>
    <div class='control has-icons-left'>
      <%= form.text_field :street, class: 'input' %>
      <span class="icon is-small is-left">
        <i class="fas fa-road"></i>
      </span>
    </div>
  </div>

  <div class='field is-horizontal'>
    <div class="field-body">
    <div class='field'>
      <%= form.label :zip, class: 'label' %>
      <div class='control is-expanded has-icons-left'>
        <%= form.text_field :zip, class: 'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-city"></i>
        </span>
      </div>
    </div>

    <div class='field'>
      <%= form.label :city, class: 'label' %>
      <div class='control is-expanded has-icons-left'>
        <%= form.text_field :city, class: 'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-city"></i>
        </span>
      </div>
    </div>
    </div>
  </div>

  <div class='field'>
    <%= form.label :email, class: 'label' %>
    <div class='control has-icons-left'>
      <%= form.text_field :email, class: 'input' %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class='field'>
    <%= form.label :website, class: 'label' %>
    <div class='control has-icons-left'>
      <%= form.text_field :website, class: 'input' %>
      <span class="icon is-small is-left">
        <i class="fas fa-globe"></i>
      </span>
    </div>
  </div>

  <div class='field'>
    <%= form.label :additional_board, class: 'label' %>
    <div class='control'>
      <%= form.text_field :additional_board, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <div class="control">
      <%= form.text_area :description, class: 'textarea' %>
    </div>
  </div>

  <div class='field'>
    <div class='control'>
      <%= form.submit (t 'submit'), class: 'button is-link' %>
    </div>
  </div>
<% end %>
