<% title Cooperative.model_name.human(count: 2) %>

<p class="title is-2"><%= yield :title %></p>

<%= map(:center => {
    :latlng => [51.100, 10.360],
    :zoom => 6
  },
  :markers => @markers
) %>

<%= render "/table_filter" %>

<table class="table is-filterable is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stadt</th>
    </tr>
  </thead>
  <tbody>
  <% @cooperatives.each do |cooperative| %>
    <tr>
      <td><%= link_to cooperative.name, cooperative_path(cooperative) %></td>
      <td><%= cooperative.city %></td>
    </tr>
  <% end %>
  </tbody>
</table>
