<% title Cooperative.model_name.human(count: 2) %>

<p class="title"><%= yield :title %></p>

<%= render "/filter_menu" %>

<%= render "index_list" %>

<%== pagy_bulma_nav(@pagy) %>

<%= map(:center => {
    :latlng => [51.100, 10.360],
    :zoom => 6
  },
  :markers => @markers
) %>
