<p class="title is-2"><%= @cooperative.name %></p>

<div class="tabs is-boxed">
  <ul>
  <li>
    <a href="<%= url_for controller: 'members', action: 'index', cooperative_id: @cooperative.id %>">
      <span class="icon"><i class="fas fa-users"></i></span>
      <span>Mitglieder</span>
    </a>
  </li>

  <% if @current_member_cooperative %>
  <li>
    <a href="<%= url_for controller: 'coop_files', action: 'index', cooperative_id: @cooperative.id %>">
      <span class="icon"><i class="fas fa-file"></i></span>
      <span>Dateien</span>
    </a>
  </li>
  <% end %>

  <% if @current_member_can_customer_data %>
  <li>
    <a href="<%= url_for controller: 'customer_data', action: 'index', cooperative_id: @cooperative.id %>">
      <span class="icon"><i class="fas fa-th-list"></i></span>
      <span>Kundendaten</span>
    </a>
  </li>
  <% end %>

  <li>
    <a href="<%= url_for controller: 'plants', action: 'index', cooperative_id: @cooperative.id %>">
      <span class="icon"><i class="fas fa-solar-panel"></i></span>
      <span>Anlagen</span>
    </a>
  </li>

  <% if @current_member_can_edit %>
  <li>
    <a href="<%= url_for controller: 'cooperatives', action: 'edit', id: @cooperative.id %>">
      <span class="icon"><i class="fas fa-edit"></i></span>
      <span>bearbeiten</span>
    </a>
  </li>
  <% end %>
  </ul>
</div>

<div class="columns">
  <div class="column is-6">
    <article class="message is-primary">
      <div class="message-body">
        <%= @cooperative.description %>
      </div>
    </article>
  </div>

  <div class="column is-6">
    <div class="panel">
      <p class="panel-heading"><%= @cooperative.name %></p>

      <p class="panel-block">
        <span class="panel-icon"><i class="fas fa-location-arrow" aria-hidden="true"></i></span>
        <% if @cooperative.street? %> <%= @cooperative.street %>, <% end %><% if @cooperative.zip? %> <%= @cooperative.zip %>, <% end %><%= @cooperative.city %>
      </p>

      <p class="panel-block">
        <span class="panel-icon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
        <a href="mailto: <%= @cooperative.email %>"><%= @cooperative.email %></a>
      </p>

      <p class="panel-block">
        <span class="panel-icon"><i class="fas fa-globe" aria-hidden="true"></i></span>
        <a href="<%= @cooperative.website %>"><%= @cooperative.website %></a>
      </p>

      <div class="panel-block">
        Vorstand:
        <% @cooperative.members.each do |member| %>
          <% if member.is_board_member? %>
            <%= member.firstname %> <%= member.lastname %>,
          <% end %>
        <% end %>
        <%= @cooperative.additional_board %>
      </div>
    </div>
  </div>
</div>
