<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      <%= Rails.configuration.site_title %>
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">

    <%= yield :head %>

  </head>

  <body>
    <nav class="navbar is-dark is-spaced" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <%= image_tag "logo_header.png", alt: Rails.configuration.site_title, width: "112", height: "28" %>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <% if member_signed_in? %>
              <%= link_to 'Meine ' + Cooperative.model_name.human, cooperative_path(current_member.cooperative), class: 'navbar-item' %>
              <%= link_to Cooperative.model_name.human(count: 2), cooperatives_path, class: 'navbar-item' %>
              <%= link_to 'Gruppen', groups_path, class: 'navbar-item' %>
              <a href="<%= url_for eval("destroy_#{current_member.type.downcase}_session_path") %>" data-method="delete" class="navbar-item">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span>Log out</span>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="level">
          <div class="level-item">
            <div>
              <p>Bürgerwerke eG</p>
              <p>Hans-Bunte-Straße 8-10</p>
              <p>69123 Heidelberg</p>
            </div>
          </div>

          <div class="level-item">
            <div>
              <p><a><span class="icon"><i class="fas fa-phone"></i></span><span>+49 (0) 6221 39289 20</span></a></p>
              <p><a><span class="icon"><i class="fas fa-envelope"></i></span><span>info@buergerwerke.de</span></a></p>
            </div>
          </div>
      </div>
    </footer>

  </body>
</html>
