<% title Member.model_name.human(count: 2) + ' der ' + @cooperative.name %>

<p class="title"><%= yield :title %></p>

<div class="level">
  <div class="level-left">
    <div class="level-item">
      <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
        <span class="icon"><i class="fas fa-chevron-left"></i></span>
        <span>zurück</span>
      </a>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <%= render "/table_filter" %>
    </div>
  </div>
</div>

<div class="notification">Die <%= Member.model_name.human(count: 2) %> sind alle im <%= t 'intranet' %> registrierten und der <%= @cooperative.name %> zugeordneten Personen. Sie sind nicht zwangsläufig Mitglieder und/oder Kunden dieser.</div>

<% if !is_admin %>
<table class="table is-filterable is-fullwidth is-striped is-hoverable">
  <thead>
    <tr class="table-heading">
      <th>Vorname</th>
      <th>Nachname</th>
      <th>E-Mail</th>
      <th class="has-text-centered">Vorstand</th>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.firstname %></td>
      <td><%= member.lastname %></td>
      <td><%= member.email %></td>
      <td class="has-text-centered">
        <span class="icon has-text-info">
          <% if member.is_board_member %>
            <i class="fas fa-check-square"></i>
          <% else %>
            <i class="fas fa-square"></i>
          <% end %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<%= form_with url: cooperative_members_path(@cooperative.id), local: true do |form| %>
<table class="table is-filterable is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>E-Mail</th>
      <th class="has-text-centered">Vorstand</th>
      <th class="has-text-centered">Redakteur</th>
      <th class="has-text-centered">Kundendaten</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
  <%= form.fields_for "member[]", member  do |member_form| %>
    <tr>
      <td><%= member.firstname %></td>
      <td><%= member.lastname %></td>
      <td><%= member.email %></td>
      <td class="has-text-centered">
          <%= member_form.check_box :is_board_member, class: 'checkbox' %>
      </td>
      <% if member.is_coop_admin %>
        <td class="has-text-centered"><span class="tag is-danger">Admin</span></td>
        <td class="has-text-centered"><span class="tag is-danger">Admin</span></td>
      <% else %>
        <td class="has-text-centered">
          <%= member_form.check_box :is_editor, class: 'checkbox' %>
        </td>
        <td class="has-text-centered">
          <%= member_form.check_box :can_see_customer_data, class: 'checkbox' %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
<%= form.submit (t 'update-member-rights'), class: 'button is-link is-small' %>
<% end %>
<% end %>
