<% title Member.model_name.human(count: 2) + ' der ' + @cooperative.name %>

<p class="title is-2"><%= yield :title %></p>

<div class="tabs is-boxed">
  <ul>
  <li>
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>
  </li>
  </ul>
</div>

<div class="notification">Die <%= Member.model_name.human(count: 2) %> sind alle im <%= t 'intranet' %> registrierten und der <%= @cooperative.name %> zugeordneten Personen. Sie sind nicht zwangsläufig Mitglieder und/oder Kunden eben dieser.</div>

<%= render "/table_filter" %>

<table class="table is-filterable is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>E-Mail</th>
      <th style="text-align: center !important;">Vorstand</th>
      <% if is_admin %><th style="text-align: center !important;">Redakteur</th><% end %>
      <% if is_admin %><th style="text-align: center !important;">Kundendaten</th><% end %>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.firstname %></td>
      <td><%= member.lastname %></td>
      <td><%= member.email %></td>
      <% if !is_admin %>
        <td style="text-align: center !important;">
        <span class="icon has-text-info">
          <% if member.is_board_member %>
            <i class="fas fa-check-square"></i>
          <% else %>
            <i class="fas fa-square"></i>
          <% end %>
        </span>
        </td>
      <% else %>
        <%= form_with model: member, url: cooperative_member_path(@cooperative.id, member.id), local: true do |form| %>
          <td>
          <span style="width: 5rem; display:inline-block; text-align: center;">
          <%= form.check_box :is_board_member, class: 'checkbox' %></span>
          </td>
          <% if member.is_coop_admin %>
            <td style="text-align: center !important;"><span class="tag is-danger">Admin</span></td>
            <td style="text-align: center !important;"><span class="tag is-danger">Admin</span></td>
          <% else %>
            <td style="text-align: center !important;">
            <span>
            <%= form.check_box :is_editor, class: 'checkbox' %>
            </span>
            </td>
            <td style="text-align: center !important;">
            <span>
            <%= form.check_box :can_see_customer_data, class: 'checkbox' %>
            </span>
            </td>
          <% end %>
          </td>
          <td>
            <%= form.submit 'Ändern', class: 'button is-link is-small' %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
