<p class="title"><%= Member.model_name.human(count: 2) %></p>
<p class="subtitle"><%= @cooperative.name %></>

<div class="level">
  <div class="level-left">
    <div class="level-item">
      <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>">
        <span class="icon"><i class="fas fa-chevron-left"></i></span>
        <span><%= t 'back' %></span>
      </a>
    </div>
  </div>
</div>

<div class="notification"><%= t 'notifications.members' %></div>

<% if !is_admin %>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr class="table-heading">
      <th><%= User.human_attribute_name('firstname') %></th>
      <th><%= User.human_attribute_name('lastname') %></th>
      <th><%= User.human_attribute_name('email') %></th>
      <th class="has-text-centered"><%= User.human_attribute_name('is_board_member') %></th>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.firstname %></td>
      <td><%= member.lastname %></td>
      <td><%= member.email %></td>
      <td class="has-text-centered">
        <span class="icon has-text-info">
          <% if member.is_board_member %>
            <i class="fas fa-check-square"></i>
          <% else %>
            <i class="fas fa-square"></i>
          <% end %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<%= form_with url: cooperative_members_path(@cooperative.id), local: true do |form| %>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th><%= User.human_attribute_name('firstname') %></th>
      <th><%= User.human_attribute_name('lastname') %></th>
      <th><%= User.human_attribute_name('email') %></th>
      <th class="has-text-centered"><%= User.human_attribute_name('is_board_member') %></th>
      <th class="has-text-centered"><%= User.human_attribute_name('is_editor') %></th>
      <th class="has-text-centered"><%= User.human_attribute_name('can_see_customer_data') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
  <%= form.fields_for "member[]", member  do |member_form| %>
    <tr>
      <td><%= member.firstname %></td>
      <td><%= member.lastname %></td>
      <td><%= member.email %></td>
      <td class="has-text-centered">
          <%= member_form.check_box :is_board_member, class: 'checkbox' %>
      </td>
      <% if member.is_coop_admin %>
        <td class="has-text-centered"><span class="tag is-danger"><%= User.human_attribute_name('is_admin') %></span></td>
        <td class="has-text-centered"><span class="tag is-danger"><%= User.human_attribute_name('is_admin') %></span></td>
      <% else %>
        <td class="has-text-centered">
          <%= member_form.check_box :is_editor, class: 'checkbox' %>
        </td>
        <td class="has-text-centered">
          <%= member_form.check_box :can_see_customer_data, class: 'checkbox' %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
<%= form.submit (t 'update-member-rights'), class: 'button is-small is-pulled-right' %>
<% end %>
<% end %>
