<p class="title is-2">Mitglieder der <%= @cooperative.name %></p>

<div class="buttons has-addons">
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>" class="button is-link is-outlined">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>
</div>

<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>E-Mail</th>
      <th>Vorstand</th>
      <% if @current_member_is_admin %>
      <th>Redakteur</th>
      <th>Kundendaten</th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.firstname %></td>
      <td><%= member.lastname %></td>
      <td><%= member.email %></td>
      <% if !@current_member_is_admin %>
      <td><span class="icon has-text-info">
        <% if member.is_board_member %>
          <i class="fas fa-check-square"></i>
        <% else %>
          <i class="fas fa-square"></i>
        <% end %>
      </span></td>
      <% else %>
      <%= form_with model: member, url: cooperative_member_path(@cooperative.id, member.id), local: true do |form| %>
      <td>
        <%= form.check_box :is_board_member, class: 'checkbox' %>
      </td>
      <td>
        <%= form.check_box :is_editor, class: 'checkbox' %>
      </td>
      <td>
        <%= form.check_box :can_see_customer_data, class: 'checkbox' %>
      </td>
      <td>
        <%= form.submit 'Ändern', class: 'button is-link is-small' %>
      </td>
      <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
