<p class="title is-2">Mitglieder der <%= @cooperative.name %></p>

<div class="buttons has-addons">
  <a href="<%= url_for controller: 'cooperatives', action: 'show', id: @cooperative.id %>" class="button is-primary is-outlined is-small">
    <span class="icon"><i class="fas fa-chevron-left"></i></span>
    <span>zurück</span>
  </a>
</div>

<table>
  <thead>
    <tr>
      <td>Vorname</td>
      <td>Nachname</td>
      <td>E-Mail</td>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.firstname %></td>
      <td><%= member.lastname %></td>
      <td><%= member.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
